.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.menu {
  padding: 0px 10px;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.menu_tab {
  font-family: Times New Roman;
  float: right;
}

nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}

.menu_tab_name {
  /* padding: 10px 50px; */
  float: left;
  color: #008080;
  font-weight: bold;
  font-family: Times New Roman;
}

/* ハンバーガーボタン */
.main_menu_btn,
.main_menu_btn span {
  display: inline-block;
  box-sizing: border-box;
}

.main_menu_btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.main_menu_btn span {
  position: absolute;
  left: 0;
  width: 50%;
  text-align: center;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.main_menu_btn span:nth-of-type(1) {
  top: 0;
}
.main_menu_btn span:nth-of-type(2) {
  top: 12px;
}
.main_menu_btn span:nth-of-type(3) {
  bottom: 0;
}

/* ハンバーガーボタン */
@media screen and (max-width: 375px) {
  .humbagar_btn {
    position: absolute;
    text-align: right;
    margin: 20px 20px;
  }
}

@media screen and (min-width: 376px) {
  .humbagar_btn {
    position: absolute;
    text-align: right;
    margin: 20px 25px;
  }
}
